- unless @tags.nil?
  .tags_list
    %h3 Tags list
    .tags
      %ul
        - @tags.each do |tag|
          %li
            = link_to tag.tag_word, tag_path(tag.id)

- unless !user_signed_in?
  .user_posts
    - unless @user_posts.nil?
      %h3 Your last posts
      - @user_posts.each do |user_post|
        .post
          .post_title
            = link_to user_post.title, post_path(user_post.id)
          - if user_post.status
            .approved
              approved
          - else
            .unapproved
              unapproved
            - if user_post.explanation
              - unless user_post.status
                .explanation
                  %span
                    Reason -
                  %span.alert
                    = user_post.explanation