/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require jquery.ui.all
 */
html, body {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.container1 {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.wrapper {
    height: 100%;
}

.cont {
    min-height: 100%;
}

.cont_inner {
    padding: 100px 10px 10px 10px;
    overflow: hidden;
}

.add_space {
    height: 100px;
}

.main_content {
    float: left;
    width: 730px;
}

.cont_inner h3 {
    color: #c7c7c7;
    font-size: 20px;
}

.sidebar-first {
    float: right;
    width: 190px;
    padding: 40px 0 0 0;
}

.footer {
    margin: -100px 0 0 0;
    background: #eeeeee;
    border-radius: 8px 8px 8px 8px;
    height: 58px;
    padding: 40px 30px 0 30px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5) inset;
}

.header {
    position: absolute;
    top: 2px;
    left: 0;
    height: 78px;
    background: #eeeeee;
    border-radius: 8px 8px 8px 8px;
    width: 940px;
    padding: 10px 10px 10px 10px;
    text-align: right;
    box-shadow: 0 0 2px rgba(0,0,0,0.5) inset;
}

.header_wrapper {
    position: relative;
    width: 940px;
}

a {
    outline: none;
}

.logo {
    position: absolute;
    top: 3px;
    left: 10px;
}

.logo a {
    color: #555555;
    font-size: 40px;
    display: block;
    height: 50px;
    padding: 20px 10px 0 10px;
    outline: none;
}

.cont_inner h2 {
    margin: 20px 0 20px 0;
    font-weight: normal;
}

.cont_inner table td.action {
    text-align: center;
    vertical-align: middle;
}

.cont_inner td.action a {
    text-indent: -9999em;
}

.cont_inner td.action a:hover {
    background-color: transparent;
}

.comment_body {
    background: #f7f7f7;
    padding: 5px 5px 5px 5px;
}

.comment {
    border-bottom: solid 1px #f7f7f7;
    margin: 0 0 20px 0;
}

.comment p {
    margin: 0 0 2px 0;
}

#new_comment textarea {
    height: 100px;
}

.new_post_cr {
    text-align: right;
    margin: 0 0 10px 0;
}

/* pagination */

nav.pagination {
    text-align: center;
}

.delete_btn {
    text-indent: -9999px;
}

.delete_btn a {
    display: block;
    height: 14px;
    width: 14px;
}

.action-delete {
    text-indent: -9999px;
}

.action-delete a {
    display: block;
    height: 14px;
    width: 14px;
}

span.current {
    color: blue;
}

.approved {
    color: green;
}

.unapproved {
    color: red;
}

/* post index */

.table td.status {
    vertical-align: middle;
    text-align: center;
}

.post {
    margin: 0 0 20px 0;
}

.post_header {
    overflow: hidden;
    margin: 0 0 7px 0;
}

.post_header .post_title {
    float: left;
    font-size: 16px;
    color: #eeeeee;
}

.post_header .post_date {
    float: right;
}

.post_text {
    padding: 5px 5px 5px 5px;
    background: #f7f7f7;
    border-radius: 7px 7px 7px 7px;
}

span.edit.actions {
    text-indent: -9999px;
}

.explanation {
    padding: 10px 0 20px 0;
}

/* post page */

.post_page {
    padding: 55px 0 0 0;
}

.for_img img {
    border-radius: 7px 7px 7px 7px;
}

.add_tag {
    cursor: pointer;
    margin: 0 0 10px 0;
}

.field textarea {
    height: 120px;
}

.add_tag.btn {
    margin: 0 0 10px 0;
}

/* Sidebar */

.tags_list .tags {
    height: 220px;
}

.post_title a {
    font-size: 16px;
    color: #000000;
}