/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require jquery.ui.all
 */
html, body {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.container1 {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.wrapper {
    height: 100%;
}

.cont {
    min-height: 100%;
}

.cont_inner {
    padding: 100px 10px 10px 10px;
}

.add_space {
    height: 100px;
}

.footer {
    margin: -100px 0 0 0;
    background: #eeeeee;
    border-radius: 8px 8px 8px 8px;
    height: 58px;
    padding: 40px 30px 0 30px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5) inset;
}

.header {
    position: absolute;
    top: 2px;
    left: 0;
    height: 78px;
    background: #eeeeee;
    border-radius: 8px 8px 8px 8px;
    width: 940px;
    padding: 10px 10px 10px 10px;
    text-align: right;
    box-shadow: 0 0 2px rgba(0,0,0,0.5) inset;
}

.header_wrapper {
    position: relative;
    width: 940px;
}

a {
    outline: none;
}

.logo {
    position: absolute;
    top: 3px;
    left: 10px;
}

.logo a {
    color: #555555;
    font-size: 40px;
    display: block;
    height: 50px;
    padding: 20px 10px 0 10px;
}

.cont_inner h2 {
    margin: 20px 0 20px 0;
    font-weight: normal;
}

.cont_inner table td.action {
    text-align: center;
    vertical-align: middle;
}

.cont_inner td.action a {
    text-indent: -9999em;
}

.cont_inner td.action a:hover {
    background-color: transparent;
}

.comment_body {
    background: #f7f7f7;
    padding: 5px 5px 5px 5px;
}

.comment {
    border-bottom: solid 1px #f7f7f7;
    margin: 0 0 20px 0;
}

.comment p {
    margin: 0 0 2px 0;
}

#new_comment textarea {
    height: 100px;
}

.new_post_cr {
    text-align: right;
    margin: 0 0 10px 0;
}

/* pagination */

nav.pagination {
    text-align: center;
}

.delete_btn {
    text-indent: -9999px;
}

.delete_btn a {
    display: block;
    height: 14px;
    width: 14px;
}